#footer {
  background-color: GRAY;
  color: white;
  text-align: center;
  padding: 19px 0;
  font-size: 14px;
  margin-top: 40px;
  
}

#footer-text a {
  color: #ffca28;
  margin: 0 10px;
}

#footer a:hover {
  text-decoration: underline;
}

